<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../styles/root.css" rel="stylesheet" />
    <link href="../styles/header.css" rel="stylesheet" />
    <link href="../styles/home.css" rel="stylesheet" />
    <link href="../styles/footer.css" rel="stylesheet" />
    <title>Home</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="navbar">
          <img class="logo-img" src="../src/bipi.png" alt="logo" />
          <div class="container nav-container">
            <input class="checkbox" type="checkbox" name="" id="" />
            <div class="hamburger-lines">
              <span class="line line1"></span>
              <span class="line line2"></span>
              <span class="line line3"></span>
            </div>
            <div class="menu-items">
              <li><a href="#">Equipos</a></li>
              <li><a href="#">Componentes</a></li>
              <li><a href="#">Perifericos</a></li>
              <li><a href="#">Internet</a></li>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div class="banner">
        <img src="../src/banner.jpg" alt="banner-img" />
        <h2 class="banner_title">¡Destacados de la semana!</h2>
      </div>
      <section class="products_section">
        <article class="product_item">
          <div class="product_image">
            <img class="crop" src="../src/producto.jpg" alt="product" />
          </div>
          <p class="product_price">$999</p>
          <div class="product_button">
            <button class="button_add">Add</button>
            <button class="button_more">More</button>
          </div>
        </article>
        <article class="product_item">
          <div class="product_image">
            <img class="crop" src="../src/producto.jpg" alt="product" />
          </div>
          <p class="product_price">$999</p>
          <div class="product_button">
            <button class="button_add">Add</button>
            <button class="button_more">More</button>
          </div>
        </article>
        <article class="product_item">
          <div class="product_image">
            <img class="crop" src="../src/producto.jpg" alt="product" />
          </div>
          <p class="product_price">$999</p>
          <div class="product_button">
            <button class="button_add">Add</button>
            <button class="button_more">More</button>
          </div>
        </article>
      </section>
    </main>
    <footer>
      <img class="footer_img" src="../src/bipi.png" alt="logo" />
      <nav class="footer_menu">
        <a class="footer_a" href="#">Home</a>
        <a class="footer_a" href="#">Nosotros</a>
        <a class="footer_a" href="#">Contacto</a>
      </nav>
      <p id="copy">Copyright 2022</p>
    </footer>
  </body>
</html>
