@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

h2{
  font-family:  "IBM Plex Sans Condensed";
  color:#ededed;
  padding: 0 0 1.5em 0;
  z-index: -50;
}

img {
  max-width: 100%;
  object-fit: cover;
  z-index: -50;
}

.product_section {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  padding: 3em;
  z-index: 0q;
}

.product_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 2em 0;
}

.product_image {
  width: 250px;
  height: 250px;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
}

.product_image > .crop {
  position: absolute;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
  margin: auto;
  min-height: 100%;
  min-width: 100%;
}

.product_price {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.5em;
  color: white;
  padding: 1em;
}

.product_desc{
  color: white;
  padding: 1.5em 0.5em;
  text-align: center;
}

.product_button {
  display: inline-block;
}

.button_add,
.button_more {
  margin: 0.3em;
  min-width: 7em;
  min-height: 4em;
  font-size: 1em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color: #d9d9d9;
  border: none;
  border-radius: 10px;
}

.button_more{
  background-color: #2EB80B;
}