<!DOCTYPE html>
<html>
  <head>
    <title>Bipi</title>
    <link rel="stylesheet" href="styles/detail-product.css" />
  </head>
  <body>
    <header>
      <ul>
        <li>Equipos</li>
        <li>Componentes</li>
        <li>Internet</li>
        <li>Perifericos</li>
      </ul>
    </header>
    <section>
      <h2>Nombre del producto</h2>
      <img src="" alt="" />
      <p>$USDPrecio</p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi velit
        consectetur repellat dolorem rem accusantium amet sunt qui voluptas hic
        incidunt officiis consequuntur, alias temporibus ullam quaerat maxime
        facere laborum.
      </p>
    </section>
    <footer>
      <div>
        <p>Copyright 2022</p>
      </div>
      <div>
        <ul>
          <li>Home</li>
          <li>Nosotros</li>
          <li>Contacto</li>
        </ul>
      </div>
    </footer>
  </body>
</html>
