<!DOCTYPE html>
<html>
  <head>
    <title>Bipi</title>
    <link rel="stylesheet" href="styles/home.css">
  </head>
  <body>
    <header>
      <ul>
        <li>Equipos</li>
        <li>Componentes</li>
        <li>Internet</li>
        <li>Perifericos</li>
      </ul>
    </header>
    <main>
      <h2>Articulos destacados</h2>
      <div>
        <article>
          <img src="" alt="" />
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam,
            expedita.
          </p>
          <p>$USDPrecio</p>
          <button>Ver mas</button>
        </article>
        <article>
          <img src="" alt="" />
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
          <p>$USDPrecio</p>
          <button>Ver mas</button>
        </article>
        <article>
          <img src="" alt="" />
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <p>$USDPrecio</p>
          <button>Ver mas</button>
        </article>
      </div>
    </main>
    <footer>
      <div>
        <ul>
          <li>Home</li>
          <li>Nosotros</li>
          <li>Contacto</li>
        </ul>
      </div>
    </footer>
  </body>
</html>
